#jzh {
    left: -4px;
    top: 182px;
}

#cl {
    left: 31px;
    top: 382px;
}

#changy {
    left: 216px;
    top: 515px;
}

#zj {
    left: 321px;
    top: 71px;
}

#cjc {
    left: 330px;
    top: 120px;
}

#xyx {
    left: 300px;
    top: 177px;
}

#dj {
    left: 352px;
    top: 378px;
}

#ghy {
    left: 211px;
    top: 611px;
}

#gej {
    left: 536px;
    top: 179px;
}

#bjc {
    left: 564px;
    top: 253px;
}

#xt {
    left: 544px;
    top: 369px;
}

#gjg {
    left: 551px;
    top: 509px;
}

#gbz {
    left: 483px;
    top: 620px;
}

#jx {
    left: 683px;
    top: 11px;
}

#yl {
    left: 710px;
    top: 75px;
}

#lq {
    left: 780px;
    top: 221px;
}

#yjw {
    left: 811px;
    top: 275px;
}

#rcrd1 {
    width: 98px;
    height: 28px;
    left: 764px;
    top: 325px;
}

#rcrd {
    width: 98px;
    height: 28px;
    left: 741px;
    top: 355px;
}
#gjd{
    left: 839px;
    top: 378px;
}
#cy {
    left: 775px;
    top: 451px;
}

#gzy {
    left: 792px;
    top: 620px;
}

#wf {
    left: 872px;
    top: 426px;
}

#lzh {
    left: 884px;
    top: 513px;
}

#xd {
    left: 945px;
    top: 461px;
}

#dyg {
    left: 937px;
    top: 613px;
}

#ya {
    left: 920px;
    top: 71px;
}

#jc {
    left: 946px;
    top: 115px;
}

#cbp {
    left: 1009px;
    top: 187px;
}

#md {
    left: 1020px;
    top: 255px;
}

#af {
    left: 997px;
    top: 322px;
}

#zhij {
    left: 1037px;
    top: 378px;
}

#cz {
    left: 1304px;
    top: 330px;
}